/* background styling */
body {
  background-color: white;
}
/* topNav styling */
  /* topNav background styling */
  .topNav {
    background: rgb(0, 106, 245)/* medium blue color */;
    box-shadow: 0px 1px 10px 10px rgb(0, 79, 184)/* darker blue color */;
    height: auto;
    text-align: center;
    width: 100%;
  }
  /* topNav list items */
  .topNav > ul > li {
    display: inline;
  }
  /* topNav anchor links */
  .topNav > ul > li > a {
    color: white;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin: 0px;
    padding: 0px 15px;
    text-decoration: none;
    transition: color 0.3s ease-in;
  }
  /* topNav anchor links hover */
  .topNav > ul > li > a:hover {
    color: rgb(0, 79, 184)/* darker blue color */;
  }

/* activeTab styling */
.activeTab {
  color: rgb(0, 106, 245) /* medium blue color */; 
  display: inline-block;
  height: 60px ;
  line-height: 60px;
  margin: 0px; 
  padding: 0px 15px;
  text-decoration: none;
}

/* aboutMeContent styling for About Me page */
#aboutMeContent {
 margin: 35px ; 
 max-with: 900ox ;
}

/* Table styling for Mission page */
  /* Table title */
  #h4Table {
    text-align: center;
  }
  /* Table formats */
  table {
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    padding: 8px;
  }
  td {
    border: 1px solid;
  }
  .choice {
    font-style: italic;
  }
